@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);

.jt-body {
  margin: 2em auto;
  width: 30em;
  font-family: "Ubuntu", Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 700;
    src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url("http://themes.googleusercontent.com/static/fonts/ubuntu/v4/OMD20Sg9RTs7sUORCEN-7YbN6UDyHWBl620a-IRfuBk.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 400;
    src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url("http://themes.googleusercontent.com/static/fonts/ubuntu/v4/kbP_6ONYVgE-bLa9ZRbvvvesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: local("Ubuntu"), url("http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("http://themes.googleusercontent.com/static/fonts/ubuntu/v4/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}

.jt-h1, .jt-title { font-size: 300%; }
.jt-h2, .jt-part { font-size: 200%; }
.jt-h3, .jt-chapter { font-size: 140%; }
.jt-h4, .jt-section { font-size: 120%; }
.jt-h5, .jt-subsection { font-size: 100%; }

.jt-h1, .jt-title,
.jt-h2, .jt-part,
.jt-h3, .jt-chapter,
.jt-h4, .jt-section,
.jt-h5, .jt-subsection {
  font-family: Arial, Helvetica, sans-serif;
  margin: 4em 0 0.5em 0;
}

.jt-h1, .jt-title,
.jt-h2, .jt-part {
  text-align: center;
}

.jt-pre, .jt-code {
  white-space: pre;
  font-family: monospace;
  padding: 0.5em 0.5em;
  margin: 0.5em 0;
}

.jt-code {
  border-width: 0.2em;
  border-radius: 2px;
  border-color: #ddd;
  border-style: solid;
}

body, .jt-p {
  line-height: 1.5;
  letter-spacing: 0;
  word-spacing: 0;
  text-align: justify;
}

.jt-p {
  text-indent: 0;
}

.jt-p + .jt-p {
  text-indent: 2em;
}

.jt-box {
  margin: 1em 3em;
}

.jt-italic {
  font-style: italic;
}

.jt-center {
  text-align: center;
}
