/* Style for printers. */

@media print {

  .jt-body {
    font-size: 12pt;
    color: black;
  }

  .jt-h1, .jt-title {
  }
  .jt-part, .jt-chapter {
    page-break-before: always;
  }
  .jt-pagebreak {
    page-break-after: always;
  }

  @page {
    margin: 3cm 6cm;
  }

  @page :left {
  }

  @page :right {
  }

}
