/* Style for computer displays. */

@media screen {

  .jt-body {
    width: 35em;
    font-size: normal;
    color: #333;
    background-color: white;
  }

  .jt-pagebreak {
    margin-bottom: 10em;
  }

}
